.contents{
  padding: 27px 0px;
  border-bottom: 1px solid #eeeeee;
  .title{
    font-size: 26px;
    font-weight: 500;
  }
  .content{
    color: #a3a3a3;
    height: 100px;
    overflow: hidden;
    font-style: italic;
    line-height: 26px;
  }
  .date{
    color: #cccccc;
    font-size: 18px;
    font-style: italic;
  }
}